#para_coor{
    position: absolute;
    box-shadow:20px 20px 50px #302b63 inset;
    top: 76%;
    left: 21%;
    z-index: 20;
}

.background path {
    fill: none;
    stroke: #7a7a7a;
    stroke-width: .1;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: #07a6ff;
    stroke-width: .5;
    stroke-opacity: .7;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    fill: none;
    stroke: #ffffff;
    shape-rendering: crispEdges;
}

.axis text {
    cursor: move;
    fill: #FFFFFF;
    font-size: 8px;
}