<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confer_Vis</title>
    <style>

        canvas {
            display: block;
        }

        #main{
            position: absolute;
            box-shadow:20px 20px 50px #302b63 inset;
            top: 10%;
            left: 0.5%;
            width: 100%;
            height: 100%;
        }
        #bar{
            position: absolute;
            top: 12%;
            right: 1.5%;
        }
        #plot{
            position: absolute;
            top: 70%;
            left: 0.5%;
        }
    </style>
    <script src="lib/jquery-3.1.1.min.js"></script>
    <script src="lib/d3.min.js"></script>
    <script src="lib/three.min.js"></script>
    <script src="lib/OrbitControls.js"></script>
    <script src="lib/stats.js"></script>
    <script src="lib/heatmap.min.js"></script>
    <script src="lib/echarts.min.js"></script>

</head>
<body>
<div class="all_view">
    <div id="header"><a class="header_title">大型会场数据可视分析系统</a></div>
    <div id="main">
        <svg width="28" height="28" class="border_1">
            <path d="M-0.000,-0.000 L2.240,-0.000 L2.240,25.846 L28.000,25.846 L28.000,28.000 L-0.000,28.000 L-0.000,-0.000 Z"></path>
        </svg>
        <svg width="28" height="28" class="border_2">
            <path d="M-0.000,-0.000 L2.240,-0.000 L2.240,25.846 L28.000,25.846 L28.000,28.000 L-0.000,28.000 L-0.000,-0.000 Z"></path>
        </svg>
        <svg width="28" height="28" class="border_3">
            <path d="M-0.000,-0.000 L2.240,-0.000 L2.240,25.846 L28.000,25.846 L28.000,28.000 L-0.000,28.000 L-0.000,-0.000 Z"></path>
        </svg>
        <svg width="28" height="28" class="border_4">
            <path d="M-0.000,-0.000 L2.240,-0.000 L2.240,25.846 L28.000,25.846 L28.000,28.000 L-0.000,28.000 L-0.000,-0.000 Z"></path>
        </svg>
    </div>
    <div id="bar"></div>
    <div id="plot"></div>
    <div id="para_coor"></div>
</div>
</body>

<link rel="stylesheet" href="style/global.css">
<link rel="stylesheet" href="style/all_view.css">
<link rel="stylesheet" href="style/header.css">
<link rel="stylesheet" href="style/area_line.css">
<link rel="stylesheet" href="style/para_coor.css">

<script src="js/init_data.js"></script>
<script src="js/layout.js"></script>
<!--<script src="js/main_traj.js"></script>-->
<script src="js\parallel_coordinates.js"></script>
<!--<script src="js\area_line.js"></script>-->
<script src="js\main_3d.js"></script>
<!--<script src="js\area_line.js"></script>-->
<script src="js/bar.js"></script>
<script src="js/plot.js"></script>
<!--<script src="js\stream_chart.js"></script>-->
</html>